
/* working on the slider */
.slider{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    /* background-color: aqua; */
  
}
.sliderRow{
    display: flex;
    width: 100%;
    justify-content:space-between;
    /* background-color: aqua; */
    align-items: center;
    border-top: 2px solid lightgray;
    /* background-color: aliceblue; */

}

.navImages {
    width: 220px;
    height: 150px;
    position : relative;
}

.nav{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* The 'object-fit: cover' property makes the image cover the container while maintaining its aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    
   border: 4px solid rgba(211, 211, 211, 0.288); 
}

.active {
    filter: brightness(50%);
    border-radius: 30px;
}

/* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
    /* Your styles for small devices here */
}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for medium devices here */
    .slider{  
        /* background-color: aqua; */
        margin-top: 40px;
      
    }
    .sliderRow{  
        /* background-color: aqua; */
        justify-content:space-between ;
        padding: 0px;
        margin: 0px;
      
    }

    .navImages {
        width: 120px;
        height: 120px;
        
       
    }
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for large devices here */
}
