.container {
    margin: 70px 0px 20px 0px;
    display: flex;
    width: 100%;
    height: 70vh;
    /* background-color: blue; */
    padding: 0px 100px 0px 100px;
    margin: 70px 0px 30px 0px;
  }

  .front h3 {
    color: rgba(255, 255, 255, 0.79);
    margin-bottom: 20px;
    font-size: 25px;
  }
  .front p {
    color: rgba(255, 255, 255, 0.49);
    width: 100%;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 30px;
    word-spacing: 1px;
  }
  
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.front {
 /* background-color: gray; */
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 padding: 0px 60px 0px 0px;
 width: 50%;
}
.designer {
    /* background-color: lightgrey; */
    display: flex;
    flex-direction: column;
    justify-content:end;
    width: 50%;
    padding: 0px 0px 70px 0px;
  }

  .designer p{
    width: 70%;
    color: rgba(255, 255, 255, 0.49);
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 30px;
    word-spacing: 1px;
    
  }

  .designer h3{
    width: 70%;
    color: rgba(255, 255, 255, 0.79);
    
  }
  
  .front h2{
    margin-bottom:20px ;
    color: white;
  }

  h5{
    letter-spacing: 1px;
  }
  
  .navLinks{
    display: flex;
    align-items: center;
  }
  ul li{
    text-decoration: none;
    margin-right: 10px;
  }
  
  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nextHome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: blue; */
    height: 50px;
    padding: 0px 0px 0px 0px;
    
  }
  
  .arrow {
    height: 35px;
    width: 40px;
    /* background-color: aqua; */
    display:flex;
    font-size: 10px;
    align-items:start;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .next{
    height: auto;
    margin: 0px;
    padding: 0px;
    /* align-items: center; */
    font-size: 16px;
    color:white;
    /* background-color:blueviolet; */
  }
  /* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
  /* Your styles for small devices here */
}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Your styles for medium devices here */
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for large devices here */
}

