.Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px 0px 40px;
  padding: 0px 20px 0px 20px;
  /* background-color: #242424; */
  /* height: auto; */
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  
}


.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navLinks{
  display: flex;
  align-items: center;
  /* background-color: #be2b2b; */
  margin:0px;
  }

.links {
  text-decoration: none;
  margin-right: 10px;
  color: #CCCCCC;
  font-size: 16px;
  letter-spacing: 2%;
}

.navLinks ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
}

.openNav {
  display: none;
  height: 30px;
  width: 30px;
}

.closeNav {
  display: none;
  height: 30px;
  width: 25px;
}

/* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
  /* Your styles for small devices here */
  .navLinks ul{
    display: none;
  
  }
  .closeNav {
    display: inline;
    
  }
  .openNav {
    display:none;
    
  }
  .Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    /* background-color: #242424; */
    /* height: auto; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    
  }
  
  .goingHome {
    display: inline;
  }

}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Your styles for medium devices here */
  .Navigation {

    margin: 30px 40px 0px 40px;
    
    
  }
  
 
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for large devices here */
}
