.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(94, 93, 91);
    height: 50px;
    border-top:  2px solid lightgrey;
    position: relative;
 
}

.copyright{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(94, 93, 91);
    height: 20px;
    width:150px;
}

.copyright h5{
    font-size: 15px;
    margin: 0px;
    font-weight: bold;
    background-color: rgb(94, 93, 91);
    color: rgb(255, 255, 255);
    
}
.copyright img {
    background-color: rgb(94, 93, 91);
}

.bottom h3{
    margin: 0;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(94, 93, 91);
    
    
}

.bottom a {
    text-decoration: none;
}

/* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
    /* Your styles for small devices here */
    .bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80px;
    }
    .copyright h5{
        font-size: 14px;
        font-weight:500;
        color: rgb(255, 255, 255,0.5);
        
    }
    .copyright{
        display: flex;
        justify-content:space-around;
        background-color: rgb(94, 93, 91);
        width:130px;
    }
    .bottom h3{
        color: rgb(255, 255, 255,0.4);
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 300;
        
    }
    .bottom a {
        text-decoration:underline solid 2px;
        color:rgba(210, 105, 30, 0.41);
    }
  
}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for medium devices here */
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for large devices here */
}
