.wrapper {
    padding: 40px 100px 40px 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: blueviolet; */
    /* background-image: url("../../images/2.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
.pHeading{
    margin-bottom: 20px;
}
p{
    font-size: 14px;
    width: 40vw;
    /* background-color: aqua; */
    letter-spacing: 1px;
    color: white;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content:start;
    /* background-color: aqua; */
    padding: 0px;
    margin: 0px;
    height: 100%;
    
    
}
Form {
    display: grid;
    grid-template-rows: 1/2fr 1/2fr 3fr ;
    gap: 10px;
    /* background-color: blue; */
    height: 100%;
    width: 40vw;
    max-height: 350px;
    /* padding:10px; */
}
input {
    width: 60%;
    height: auto;
    border-radius: 5px;
    border: 3px solid rgb(90, 90, 90);
    padding: 7px 20px 7px 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: white;
    font-weight:500;
    letter-spacing: 1.5px;
    background-color:rgba(245, 245, 245, 0.0);

}
textarea {
    border-radius: 5px;
    border: 3px solid rgb(90, 90, 90);
    padding: 4px 20px 0px 10px;
    letter-spacing: 0.5px;
    font-size: 13px;
    height: auto;
    font-size: 13px;
    min-height: 160px;
    min-width: 160px;
    max-height: 160px;
    width: auto;
    color: white;
    font-weight:500;
    letter-spacing: 1.5px;
    background-color:rgba(245, 245, 245, 0);
    resize: none;
}

button{
    margin-top: 10px;
    height: 35px;
    width: 170px;
    border-radius: 5px;
    border: 3px solid rgb(90, 90, 90);
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(75, 75, 75, 0);
    color: white;

}

/* working on progressing to the next */
.nextHome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: blue; */
    margin-top: 20px;
    height: 50px;
    
  }

  .arrow {
    height: 35px;
    width: 40px;
    /* background-color: aqua; */
    display:flex;
    font-size: 10px;
    align-items:start;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .next{
    height: auto;
    margin: 0px;
    align-items: center;
    font-size: 16px;
    color:white;
  }
  h3{
    color: white;
  }

  /* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
    /* Your styles for small devices here */
}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* Your styles for medium devices here */
    input {
        width: 60%;
        height: 34px;
        border-radius: 5px;
        border: 3px solid rgb(90, 90, 90);
        padding: 7px 20px 7px 10px;
        font-size: 13px;
        letter-spacing: 0.5px;
        color: white;
        font-weight:500;
        letter-spacing: 1.5px;
        background-color:rgba(245, 245, 245, 0.0);
    
    }
    textarea {
        min-height: 120px;
        min-width: 120px;
        max-height: 120px;
    }
    p{
        font-size: 14px;
        width: 70vw;
        /* background-color: aqua; */
        letter-spacing: 1px;
        color: white;
    }
    Form {
        width: 60vw;
        
    }
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Your styles for large devices here */
}
