.color{
  /* background-color: #df9292; */
  margin: 0px 0px 40px 0px;
  padding: 0px 100px 0px 100px;
}
.wrapper {
  width: 100%;
  height: 60vh;
  display: flex;

  /* background-color: blue; */
  margin: 40px 0px 50px 0px;
}
.left {
  width: 60%;
  /* background-color: rgb(119, 119, 119); */
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  /* background-color: aquamarine; */
}

.left h5{
  margin: 40px 0px 0px 0px;
  width: 70%;
  font-size: 17px;
  color: lightgrey;
  /* font-weight: bold; */
}

.left p {
  margin: 30px 0px 0px 0px;
  word-spacing: 1px;
  width: 80%;
  line-height: 25px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.527);
}

.mood {
  height: 260px;
  width: 400px;
  margin-top: 40px;
  box-shadow: -4px 4px 10px 1px rgba(211, 211, 211, 0.534);
  
}

/* working on the slider */
.slider {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 100px 0px 100px;
}
.sliderRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: aqua; */
  padding: 5px 0px 0px 0px;
  border-top: 2px solid lightgray;
  /* background-color: aliceblue; */
}

.navImages {
  width: 220px;
  height: 150px;
  position: relative;
}

.nav {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* The 'object-fit: cover' property makes the image cover the container while maintaining its aspect ratio */
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;

  border: 4px solid rgba(211, 211, 211, 0.288);
}

/* styling the skills segment */

.skills {
  display: flex;
  margin: 180px 0px 150px 0px;
  width: 100%;
  height: 60vh;
  /* background-color: #642020; */
}
.leftskills {
  width: 30%;
  /* background-color: rgba(211, 211, 211, 0.253); */
}
.skills h3{
  margin-bottom: 30px;
}

.skills h5{
  color: lightgrey;
  font-size: 17px;
  margin-bottom: 15px;
}
.middle {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.skillset {
  width: 300px;
  height: 300px;
}
.rightskills {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  /* background-color: rgba(211, 211, 211, 0.253); */
}


/* styling the section segment  */

.randomFacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  /* background-color: blue; */
  width: 100%;
  height: auto;
  margin: 0px 0px 20px 0px;
  
}
.leftAnimation {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /* background-color: aqua; */
    border-right: 2px solid rgb(90, 90, 90);

}
.rightAnimation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
}

.rightAnimation h1{
  font-style: italic;
  font-size: 35px;
  letter-spacing: 0.5px;
  margin-bottom: 35px;
  color: white;
}

.rightAnimation h5{
    color: rgba(255, 255, 255, 0.577);
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    font-size: 15px;
}

/* styling the graph */
.graph {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: black; */
    width: 100%;
    height: 90vh;
    margin: 0px;
}
.books {
    height: 80%;
    width: 100%;
    background-color: rgb(2, 2, 2,0.1);
    padding: 20px;
}
 



/* working on progressing to the next */
.nextHome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: blue; */
  margin-bottom: 40px;
  height: 50px;
  
}

.arrow {
  height: 35px;
  width: 40px;
  /* background-color: aqua; */
  display:flex;
  font-size: 10px;
  align-items:start;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.next{
  height: auto;
  margin: 0px;
  padding: 0px;
  /* align-items: center; */
  font-size: 16px;
  color:white;
  /* background-color:blueviolet; */
}

/* Small devices (portrait phones) */
@media screen and (max-width: 480px) {
  /* Your styles for small devices here */
}

/* Medium devices (landscape phones and small tablets) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Your styles for medium devices here */
}

/* Large devices (tablets and large phones) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Your styles for large devices here */
}

